<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evalate News Article </title>
  </head>

  <body>
    <main>
      <div class="">
        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        <section>
          <form class="" onsubmit="return Client.handleSubmit(event)">
              <input id="url" type="text" name="input" value="" placeholder="Enter url">
              <button class="button" type="submit" value="submit" 
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)">Submit
              </button>
          </form>
        </section>

       <section>
          <strong>Form Results:</strong>
          <div id="a"></div>
          <div id="b"></div>
          <div id="c"></div>
        
      </div>
    </main>
    
  </body>
</html>

